*{ margin:0; padding:0; box-sizing:border-box; }
body {
	display:flex;
	justify-content:center;
	align-items:center;
	min-height:100vh;
	
	background: url(images/bg-pattern-top.svg) no-repeat,
		url(images/bg-pattern-bottom.svg) no-repeat;
		background-position: top calc(0px - max(0px, calc(-45% + 411px))) left calc(-100px - max(0px, calc(-45% + 411px))),
		bottom calc(0px - max(0px, calc(-45% + 411px))) right calc(-100px - max(0px, calc(-45% + 411px)));
	background-attachment: fixed;
	background-color: hsl(185, 75%, 39%);
	font-family: "Kumbh Sans", sans-serif;
}
div {
	font-size: 18px;
}
.card {
	color: white;
	background: url(images/bg-pattern-card.svg) no-repeat currentColor;
	width: 350px;
	border-radius: 15px;
	box-shadow: 0px 10px 20px rgb(128, 128, 128,25%);
	overflow: hidden;
}
.card-content {
	display: flex;
	max-width: 100%;
	padding-top: 90px;
	flex-direction: column;
	align-items: center;
	padding-bottom: 10px;
}
.avatar {
	border: solid 3px white;
	border-radius: 50%;
	width: 100px;
	height: 100px;
}
.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
}
.name {
	display: inline-block;
	color: black;
	font-weight: bold;
}
.age {
	display: inline-block;
	margin-left: 10px;
	color: black;
	font-weight: 200;
}
.country {
	color: black;
	font-weight: 200;
	margin-top: 10px;
	font-size: 15px;
}
.flp-scores {
	width: 100%;
	padding-top: 20px;
	margin-top: 20px;
	border-top:1px solid lightgrey;
	display: flex;
	justify-content: space-around;
}
.followers,
.likes,
.photos {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: black;
	font-size: 9px;
}
.number {
	color: black;
	font-weight: bold;
	font-size: 20px;
	font-weight: 700;
}
.unit {
	font-size: 13px;
	font-weight: 200;
}
